@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  body {
    min-width:1281px;
    font-family: 'Short Stack', cursive;
  }
 
  /* --------------------- */

  nav {
    width: 100%;
    height: 80px;
    background-color: #49454C;
    position: fixed;
    top: 0;
    z-index: 90;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .nav1 {
    width: 20%;
    height:120%;
    margin-left: 20px;
    /* border: 1px solid #ffff; */
  }

  .nav1 img {
    height: 100%;
    
  }

  .nav2 {
    width: 25%;
    height:100%;
    /* border: 1px solid #ffff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav2 a {
    font-size: xx-large;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
  }

  .nav2 a:hover {
    color: rgb(239, 194, 194);
  }


  .nav3 {
    width: 25%;
    height:100%;
    /* border: 1px solid #ffff; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav3 img {
    width: 45px;
    /* height: 100%; */
  }

  #nav-gmail, #nav-linkedin, #nav-github {
    width: 55px;
    height: 90%;
    border-radius: 8px;
  }

  .me-bg {
    /* border: 1px solid rgb(43, 0, 128); */
    background-color: rgb(239, 194, 194);
    width: 300px;
    height: 200px;
    position: absolute;
    left: 18%;
    top: 30%;
  }


  .me {
    /* border: 1px solid green; */
    width: 300px;
    height: 350px;
    position: absolute;
    left: 18%;
    top: 16%;
    background-image: url(./img-portV2/me2.png);
    background-size: cover;
  }

  .intro {
    padding-bottom: 10rem;
    /* border: 1px solid #703c98; */
  }

  .firsicontainer {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 10%;
  }

  .c-container {
    width: 30em;
    height: 30em;
    position: relative;
    left: 7%;
    /* border: 1px solid #703c98; */
  }

  #intro-frame {
    width: 25em;
    height: 25em;
    position: absolute;
    left: 8%;
    top: 8%;
  }

  #intro-camera {
    width: 5em;
    height: 5em;
    position: absolute;
    bottom: 1%;
    left: 42%;
  }

  #intro-notebook {
    width: 7em;
    height: 5em;
    position: absolute;
    bottom: 17%;
    left: 0%;
  }

  #intro-earphone {
    width: 7em;
    height: 5em;
    position: absolute;
    top: 27%;
    left: 0%;
  }

  #intro-book {
    width: 7em;
    height: 5em;
    position: absolute;
    top: 0%;
    left: 43.5%;
  }

  #intro-phone {
    width: 5em;
    height: 5em;
    position: absolute;
    top: 40%;
    right: 0%;
  }

  #intro-light {
    width: 3em;
    height: 5em;
    position: absolute;
    bottom: 8%;
    right: 2%;
  }

  /* -------- intro text --------- */
  .intro-text {
    /* border: 1px solid #703c98; */
    width: 40em;
    height: 15em;
    position: absolute;
    top: 10%;
    margin-left: 49%;
  }

  .intro-text .text {
    color: #49454C;
  }

  
  .type {
    display: inline-block;
  }

  #intro2 {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
      typing 3s steps(21),
      cursor .4s step-end infinite alternate;
  }

  @keyframes cursor {
    50% { border-color: transparent }
  }

  @keyframes typing {
    from { width: 0 }
  }

  #intro1, #intro2 {
    font-size: 250%;
    margin-top: 0%;
  }
  
  #intro3 {
    font-size: 150%;
    margin-top: 5%;
  }
  
  .tell-address {
    /* border: 1px solid #703c98; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 130%;
  }

  .tell-address-flex {
    display: flex;
  }

  .tell-address-flex img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    align-items: center;
  }


  
  /* ---------- link ----------- */
  .link {
    /* border: 1px solid #703c98; */
    width: 40em;
    height: 6em;
    position: relative;
    margin-top: -9%;
    left: 49%;
  }

  .link ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .link li {
    cursor: pointer;
    text-align: center;
  }

  .line-link {
    text-decoration: none;
    color: #49454C;
    font-weight:500;

  }

  .line-link:hover {
    color: #85cba8;
  }


#cv {
  width: 3em;
  height: 4em;
  margin-bottom: 5px;
}

#cv:hover, #gmail:hover, #linkedin:hover, #github:hover {
  transform: scale(1.2);
}

#gmail, #linkedin, #github {
  width: 4em;
  height: 4em;
  margin-bottom: 5px;
}

/* ----------- about me ----------- */
.aboutme {
  /* border: 1px solid #703c98; */
  width: 100%;
  height: 23em;
  position: relative;
  margin-top: 20%;
}

#n-7 {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 10px;
}

#m-1 {
  width: 15%;
  position: absolute;
  right: 10%;
  top: 45%;
}

#m-2 {
  width: 15%;
  position: absolute;
  right: 30%;
  top: 35%;
}

#m-3 {
  width: 13%;
  position: absolute;
  right: 8%;
  top: 15%;
}

#m-4 {
  width: 13%;
  position: absolute;
  right: 30%;
  top: 8%;
}

.white-box {
  width: 25em;
  height: 23em;
  position: absolute;
  left: 13%;
  background-color: #ffffff;
  z-index: -1;
}

.green-box {
  width: 100%;
  height: 18em;
  background-color: #DEECE5;
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.aboutme-text {
  /* border: 1px solid #703c98; */
  width: 40%;
  height: 10em;
  position: absolute;
  font-size: 120%;
  color: #49454C;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  
}

.aboutme-text p {
  margin-top: 10px;
  position: absolute;
  text-align: justify;
  line-height: 1.4;
}


/* ---------- tech stack ------------ */
.stack {
   /* border: 1px solid #703c98; */
   width: 90%;
   height: 5em;
   margin: 0 auto;
   margin-top: 5%;
   display: flex;
   justify-content: space-around;
}



/* --------- intro - end --------- */
.intro-end {
  /* border: 1px solid #703c98; */
  width: 100%;
  height: 20em;
  margin-top: 10%;
}

#flash-1 {
  height: 3em;
  width: 3em;
  position: relative;
  left: 20%;
  top: 40%;
  z-index: 5;
  transform: rotate(45deg);
}

#flash-2 {
  height: 3em;
  width: 3em;
  position: relative;
  left: 12%;
  top: 30%;
  z-index: 5;
  transform: rotate(-45deg);
}

#n-2 {
  height: 20em;
  width: 22em;
  position: absolute;
  left: 10%;
}

.end-white-box {
  height: 20em;
  width: 25em;
  position: absolute;
  left: 8.5%;
  background-color: #ffff;
  z-index: -1;
}

#l-2 {
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  position: relative;
  z-index: -2;
}

/* ----------------------------------- */
/* ----------- Project --------------- */

#plane-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 22%;
  left: 55%;
  z-index: 50;
  display: flex;
}


.project {
  /* border: 1px solid #c8e1ea; */
  padding-bottom: 15rem;
  width: 100%;
  position: relative;
  color: #49454C;
}

.project h1 {
  font-size: 300%;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 5%;
}

.pj-container {
   /* margin-top: 5%; */
   /* border: 1px solid #3c7f98; */
   width: 100%;
   height: auto;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: start;
  border: 2px solid;
}

.pj-insicdecontainer {
  display: flex;
}


.pj {
  /* border: 1px solid #97c5d6; */
  width: 40rem;
  height: 20rem;
  margin-bottom: 30%;
  position: relative;
  /* display: flex; */
}

.pj img {
  width: 100%;
  height: 100%;
  position: absolute;
}


.pj figure {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  top: 5%;
  position: relative;
  /* border: 1px solid #7a277b; */
}

.pj figure img {
  border-radius: 20px;
}

.text-stack {
  font-size: 130%;
  font-weight: 600;
}

.insideImg {
  position: relative;
  /* top: -30em; */
}

.overlay {
  /* border: 1px solid #7a277b; */
  position: relative;
  right: 0;
  width: 20rem;
  height: 21rem;
  margin-left: 5%;
  text-align: left;
}

.overlay h2 {
  text-align: left;
  margin-top: 10px;
  font-size: 180%;
}

.overlay p {
  margin-top: 10px;
  text-align: justify;
  width: 16rem;
  
}

.overlay img {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0%;
}

  


.link-path {
  /* border: 1px solid #703c98; */
  width: 16rem;
  height: 3em;
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.flex-text {
  text-decoration: none;
  position: relative;
  padding-left: 5px;
  /* border: 1px solid #20a226; */
  padding-top: 10%;
  color: #49454C;
}

.flex-text:hover {
  color: #ffc261;
}


.flex {
  display: flex;
  top: 0;
  width: 40%;
  /* border: 1px solid #27777b; */
  justify-content: space-around;
  
}

.flex img {
  position: relative;
  left: 0;
  /* border: 1px solid #7b272e; */
  width: 40px;
  height: 40px;
}


#plane-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 73%;
  left: 17%;
  z-index: 50;
  display: flex;
}


/* --------- Projects - end --------- */
.pj-end {
  /* border: 1px solid #703c98; */
  width: 100%;
  height: 20em;
  margin-top: 10%;
}

#n-6 {
  height: 20em;
  width: 30em;
  position: absolute;
  right: 0%;
  padding: 8px;
}


#note-1 {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 5;
}

#note-2 {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 40%;
  left: 22%;
  z-index: 5;
  transform: rotate(30deg);
}

#note-3 {
  width: 0.7em;
  height: 2em;
  position: absolute;
  top: 60%;
  left: 30%;
  z-index: 5;
  transform: rotate(-20deg);
}

.pj-end-white-box{
  height: 20em;
  width: 30em;
  position: absolute;
  right: 12.5%;
  background-color: #ffffff;
  z-index: -1;
}

#pj-l-2 {
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  position: relative;
  z-index: -2;
}

/* ----------- contact ----------- */
.contact {
  padding-bottom: 40rem;
  color: #49454C;
  height: auto;
  position: relative;
}

.contact h1 {
  font-size: 300%;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 5%;
}

.contact-container {
  /* border: 1px solid #6c428b; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 53%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.contact-subcon1 {
  /* border: 1px solid #1e8348; */
  width: 48%;
  height: 100%;
}

.contact-subcon1 img {
  width: 100%;
  height: 100%;
}

.contact-subcon2 {
  /* border: 1px solid #1e8348; */
  width: 48%;
  height: 100%;
  position: relative;
}

.contact-subcon2 label {
  font-size: x-large;
  display:block;
}

.contact-subcon2 input {
  line-height: 35px;
  width: 80%;
  border-radius: 5px;
  border: 1.5px solid #49454C;
  font-family: 'Short Stack', cursive;
  font-size: large;
}

.contact-subcon2 textarea {
  width: 80%;
  height: 25%;
  resize: none;
  border: 1.5px solid #49454C;
  border-radius: 5px;
  font-family: 'Short Stack', cursive;
  font-size: large;
  line-height: 25px;
}

textarea:focus, input:focus{
  outline: none;
}

.space-contact {
  margin-bottom: 30px;
}

.label-contact {
  margin-bottom: 10px;
  border-radius: 5px;
}

.contact-subcon2 button {
  display: block;
  position: absolute;
  padding: 8px 15px;
  font-family: 'Short Stack', cursive;
  font-size: large;
  background-color:  #49454C;
  color: #fff;
  border: none;
  bottom: 0%;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  left: 0;
}


